.wrapper{
display: flex;
justify-content: center; 
align-items: center;
margin-top: 50px;
text-align: center;

}

.login_container{
    padding: 18px;
    border-radius: 8px;
    border: 1px solid #f0eded;
    min-height: 300px;
    width: 400px;
    background-color: #fcfcfc;
}

