
.App {
  padding: 20px 80px;
  display: flex;
  background-color: #1C9BEF;
  min-height: 100vh;
  overflow: auto;
  width: 100%;
}

.pages{
  width: 40%;
  border: 1px solid white;
}

.right{
  width: 30%;
  border: 1px solid yellow;
}
